<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="kid-header">
        <img src="systems/tftloop/img/tftl-logo.png" class="logo" title="tales from the loop logo">
    </header>
    <div class="sheet-body flexrow">
        <div class="sidebar flexcol">
            <div class="name-box">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="name"/>
                </h1>
                <div class = "portrait">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160"  width="160"/>
                </div>
                <div class = "type">
                    <label>{{localize "tftloop.type"}}</label>
                <select name="data.type">
                    {{#select data.type}}
                    <option value="bookworm">{{localize "tftloop.bookworm"}}</option>
                    <option value="geek">{{localize "tftloop.geek"}}</option>
                    <option value="hick">{{localize "tftloop.hick"}}</option>
                    <option value="jock">{{localize "tftloop.jock"}}</option>
                    <option value="popular">{{localize "tftloop.popular"}}</option>
                    <option value="rocker">{{localize "tftloop.rocker"}}</option>
                    <option value="troublemaker">{{localize "tftloop.troublemaker"}}</option>
                    <option value="weirdo">{{localize "tftloop.weirdo"}}</option>
                    {{/select}}
                </select>
                </div>  
            </div>
            <div class="attributes-skills">
                <h4 class="section-header">{{localize "tftloop.attributesSkills"}}</h4>
                <ol class="attribute-list">
                    <li class="attribute flexrow body" ><span class="add-to-pool" data-rolled="body">{{localize "tftloop.body"}}</span> <input type="text" name="data.body" value="{{data.body}}" data-dtype="Number"/> </li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow sneak" ><span class="add-to-pool" data-rolled="sneak">{{localize "tftloop.sneak"}}</span> <input type="text" name="data.sneak" value="{{data.sneak}}" data-dtype="Number"/></li>
                            <li class="skill flexrow force"><span class=" add-to-pool" data-rolled="force">{{localize "tftloop.force"}}</span> <input type="text" name="data.force" value="{{data.force}}" data-dtype="Number"/></li>
                            <li class="skill flexrow move"><span class=" add-to-pool" data-rolled="move">{{localize "tftloop.move"}}</span> <input type="text" name="data.move" value="{{data.move}}" data-dtype="Number"/></li>
                        </ol>
                    </li>
                    <li class="attribute flexrow tech add-to-pool" data-rolled="tech">{{localize "tftloop.tech"}} <input type="text" name="data.tech" value="{{data.tech}}" data-dtype="Number"/></li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow tinker add-to-pool" data-rolled="tinker">{{localize "tftloop.tinker"}} <input type="text" name="data.tinker" value="{{data.tinker}}" data-dtype="Number"/></li>
                            <li class="skill flexrow program add-to-pool" data-rolled="program">{{localize "tftloop.program"}} <input type="text" name="data.program" value="{{data.program}}" data-dtype="Number"/></li>
                            <li class="skill flexrow calculate add-to-pool" data-rolled="calculate">{{localize "tftloop.calculate"}} <input type="text" name="data.calculate" value="{{data.calculate}}" data-dtype="Number"/></li>
                        </ol>
                    </li>
                    <li class="attribute flexrow heart add-to-pool" data-rolled="heart">{{localize "tftloop.heart"}} <input type="text" name="data.heart" value="{{data.heart}}" data-dtype="Number"/></li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow contact add-to-pool" data-rolled="contact">{{localize "tftloop.contact"}} <input type="text" name="data.contact" value="{{data.contact}}" data-dtype="Number"/></li>
                            <li class="skill flexrow charm add-to-pool" data-rolled="charm">{{localize "tftloop.charm"}} <input type="text" name="data.charm" value="{{data.charm}}" data-dtype="Number"/></li>
                            <li class="skill flexrow lead add-to-pool" data-rolled="lead">{{localize "tftloop.lead"}} <input type="text" name="data.lead" value="{{data.lead}}" data-dtype="Number"/></li>
                        </ol>
                    </li>
                    <li class="attribute flexrow mind add-to-pool" data-rolled="mind">{{localize "tftloop.mind"}} <input type="text" name="data.mind" value="{{data.mind}}" data-dtype="Number"/></li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow investigate add-to-pool" data-rolled="investigate">{{localize "tftloop.investigate"}} <input type="text" name="data.investigate" value="{{data.investigate}}" data-dtype="Number"/></li>
                            <li class="skill flexrow comprehend add-to-pool" data-rolled="comprehend">{{localize "tftloop.comprehend"}} <input type="text" name="data.comprehend" value="{{data.comprehend}}" data-dtype="Number"/></li>
                            <li class="skill flexrow empathize add-to-pool" data-rolled="empathize">{{localize "tftloop.empathize"}} <input type="text" name="data.empathize" value="{{data.empathize}}" data-dtype="Number"/></li>
                        </ol>
                    </li>    
                </ol>

            </div>
            <div class="experience-group">
            <div class="section-header experience">
            {{localize "tftloop.experience"}}
            </div>
            <div class="exp-boxes flexrow" title="{{localize "tftloop.addexp"}}">
                {{#times 10}}
                <div class="exp-box">
                    <div class="img-container">
                        {{#if (gte ../data.exp @index)}}
                        <img src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                        {{/if}}
                        {{#unless (gte ../data.exp @index)}}
                        <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                        {{/unless}}
                    </div>
                </div>
                {{/times}}
            </div>
            </div>
        </div>
        <div class="main flexcol">
            {{> "systems/tftloop/templates/actors/parts/core-info.hbs"}}
            {{> "systems/tftloop/templates/actors/parts/conditions.hbs"}}
            {{> "systems/tftloop/templates/actors/parts/relationships.hbs"}}
            {{> "systems/tftloop/templates/actors/parts/item-hideout.hbs"}} 
            <div class="notes-group info-group">
                <h4 class="section-header">{{localize "tftloop.notes"}}</h4>
                <div class="kid-notes">
                {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
    <footer class="sheet-footer">
        <img src="systems/tftloop/img/footer-image.png" class="logo" title="page footer image">
    </footer>
</form>