<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="kid-header">
        <img src="systems/tftloop/img/tftl-logo.png" class="logo" title="tales from the loop logo">
    </header>
    <div class="sheet-body flexrow">
        <div class="sidebar flexcol">
            <div class="name-box">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="name"/>
                </h1>
                <div class = "portrait">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160"  width="160"/>
                </div>
                <div class = "type">
                    <label>{{localize "tftloop.type"}}</label>
                <select name="data.type">
                    {{#select data.type}}
                    <option value="bookworm">{{localize "tftloop.bookworm"}}</option>
                    <option value="geek">{{localize "tftloop.geek"}}</option>
                    <option value="hick">{{localize "tftloop.hick"}}</option>
                    <option value="jock">{{localize "tftloop.jock"}}</option>
                    <option value="popular">{{localize "tftloop.popular"}}</option>
                    <option value="rocker">{{localize "tftloop.rocker"}}</option>
                    <option value="troublemaker">{{localize "tftloop.troublemaker"}}</option>
                    <option value="weirdo">{{localize "tftloop.weirdo"}}</option>
                    {{/select}}
                </select>
                </div>  
            </div>
            <div class="attributes-skills">
                <h4 class="section-header">{{localize "tftloop.attributesSkills"}}</h4>
                <ol class="attribute-list">
                    <li class="attribute flexrow">{{localize "tftloop.body"}} <input type="text" name="data.body" value="{{data.body}}" data-dtype="Number"/> </li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow">{{localize "tftloop.sneak"}} <input type="text" name="data.sneak" value="{{data.sneak}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.force"}} <input type="text" name="data.force" value="{{data.force}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.move"}} <input type="text" name="data.move" value="{{data.move}}" data-dtype="Number"/></li>
                        </ol>
                    </li>
                    <li class="attribute flexrow" >{{localize "tftloop.tech"}} <input type="text" name="data.tech" value="{{data.tech}}" data-dtype="Number"/></li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow">{{localize "tftloop.tinker"}} <input type="text" name="data.tinker" value="{{data.tinker}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.program"}} <input type="text" name="data.program" value="{{data.program}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.calculate"}} <input type="text" name="data.calculate" value="{{data.calculate}}" data-dtype="Number"/></li>
                        </ol>
                    </li>
                    <li class="attribute flexrow">{{localize "tftloop.heart"}} <input type="text" name="data.heart" value="{{data.heart}}" data-dtype="Number"/></li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow">{{localize "tftloop.contact"}} <input type="text" name="data.contact" value="{{data.contact}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.charm"}} <input type="text" name="data.charm" value="{{data.charm}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.lead"}} <input type="text" name="data.lead" value="{{data.lead}}" data-dtype="Number"/></li>
                        </ol>
                    </li>
                    <li class="attribute flexrow">{{localize "tftloop.mind"}} <input type="text" name="data.mind" value="{{data.mind}}" data-dtype="Number"/></li>
                    <li>
                        <ol class="skill-list">
                            <li class="skill flexrow">{{localize "tftloop.investigate"}} <input type="text" name="data.investigate" value="{{data.investigate}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.comprehend"}} <input type="text" name="data.comprehend" value="{{data.comprehend}}" data-dtype="Number"/></li>
                            <li class="skill flexrow">{{localize "tftloop.empathize"}} <input type="text" name="data.empathize" value="{{data.empathize}}" data-dtype="Number"/></li>
                        </ol>
                    </li>    
                </ol>

            </div>
            <div class="experience-group">
            <div class="section-header experience">
            {{localize "tftloop.experience"}}
            </div>
            <div class="exp-boxes">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
            </div>
            </div>
        </div>
        <div class="main flexcol">
            <div class="core-info info-group">
                <div class="flexrow">
                    <div class="info-item">
                        <label>{{localize "tftloop.age"}}</label>
                        <select name="data.age">
                            {{#select data.age}}
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="special-item">
                        <label>{{localize "tftloop.luck"}}</label>
                        <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                        <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                        <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                        <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                        <img src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                    </div>
                </div>
                <div class="flexrow">
                    <div class="info-item flexrow">
                        <label>{{localize "tftloop.drive"}}</label>
                        <input name="data.drive" type="text" value="{{data.drive}}" placeholder=""/>
                    </div>
                    <div class="info-item flexrow">
                        <label>{{localize "tftloop.anchor"}}</label>
                         <input name="data.anchor" type="text" value="{{data.anchor}}" placeholder=""/>
                    </div>
                </div>
                 <div class="info-item flexrow">
                     <label>{{localize "tftloop.problem"}}</label>
                      <input name="data.problem" type="text" value="{{data.problem}}" placeholder=""/>
                 </div>
                 <div class="info-item flexrow">
                     <label>{{localize "tftloop.pride"}}</label>
                      <input name="data.pride" type="text" value="{{data.pride}}" placeholder=""/>
                 </div>
                 <div class="info-item flexrow">
                     <label>{{localize "tftloop.description"}}</label>
                      <input name="data.description" type="text" value="{{data.description}}" placeholder=""/>
                 </div>
                 <div class="info-item flexrow">
                     <label>{{localize "tftloop.favSong"}}</label>
                      <input name="data.favoriteSong" type="text" value="{{data.favoriteSong}}" placeholder=""/>
                 </div>
            </div>
            <div class="conditions flexrow">
                <div class="section-header">{{localize "tftloop.conditions"}}</div>
                <div class="info-item">{{localize "tftloop.upset"}}
                
                <label class="imgCheck">
                    {{#unless data.upset}}
                        <img class="toggle-boolean" data-toggle="upset" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                    {{/unless}}
                    {{#if data.upset}}
                        <img class="toggle-boolean" data-toggle="upset" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                    {{/if}}
                </label></div>
                <div class="info-item">{{localize "tftloop.scared"}} 
                    <label class="imgCheck">
                    {{#unless data.scared}}
                        <img class="toggle-boolean" data-toggle="scared" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                    {{/unless}}
                    {{#if data.scared}}
                        <img class="toggle-boolean" data-toggle="scared" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                    {{/if}}
                </label>
                </div>
                <div class="info-item">{{localize "tftloop.exhausted"}} 
                      <label class="imgCheck">
                    {{#unless data.exhausted}}
                        <img class="toggle-boolean" data-toggle="exhausted" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                    {{/unless}}
                    {{#if data.exhausted}}
                        <img class="toggle-boolean" data-toggle="exhausted" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                    {{/if}}
                </label>
                    </div>
                <div class="info-item">{{localize "tftloop.injured"}} 
                    <label class="imgCheck">
                    {{#unless data.injured}}
                        <img class="toggle-boolean" data-toggle="injured" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                    {{/unless}}
                    {{#if data.injured}}
                        <img class="toggle-boolean" data-toggle="injured" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                    {{/if}}
                </label>
                    </div>
                <div class="special-item">{{localize "tftloop.broken"}} 
                    <label class="imgCheck">
                    {{#unless data.broken}}
                        <img class="toggle-boolean" data-toggle="broken" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                    {{/unless}}
                    {{#if data.broken}}
                        <img class="toggle-boolean" data-toggle="broken" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                    {{/if}}
                </label>

                </div>
                
            </div>
            <div class="relationships info-group">
                <div class="section-header flexrow">
                <h4>{{localize "tftloop.relationships"}}</h4>
                <div class = "item-control">
                    <a class="item-control item-create" data-type="relationship" data-trait="relationship" title="{{localize "tftloop.newRelationship"}}" >
                    <i class="fas fa-plus"></i>
                    </a>
                </div>
                </div>
                <ol class="info-list">
                    <li class="info-item">kid 1</li>
                </ol>
            </div>
            <div class="items-hideout flexrow">
                <div class="items info-group">
                    <div class="section-header flexrow">
                    <h4>{{localize "tftloop.items"}}</h4>
                     <div class = "item-control">
                    <a class="item-control item-create" data-type="item" data-trait="item" title="{{localize "tftloop.newItem"}}" >
                    <i class="fas fa-plus"></i>
                    </a>
                    </div>
                </div>
                    <ol class="info-list">
                        
                        <li class="iconic-item">{{localize "tftloop.iconic"}} +2</li>
                        <li class="info-item">item added</li>
                    </ol>
                </div>
                <div class="hideout info-group">
                <h4 class="section-header">{{localize "tftloop.hideout"}}</h4>
                <div class="hideout-text">
                    <textarea id="hideout" name="data.hideout" rows="5">{{data.hideout}}</textarea>
                </div>
                </div>
            </div>
            <div class="notes-group info-group">
                <h4 class="section-header">{{localize "tftloop.notes"}}</h4>
                <div class="kid-notes">
                {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
    <footer class="sheet-footer">
        <img src="systems/tftloop/img/footer-image.png" class="logo" title="page footer image">
    </footer>
</form>