<div class="core-info info-group">
    <div class="flexrow">
        <div class="info-item short">
            <label>{{localize "tftloop.age"}}</label>

            <select name="age">
                {{#select system.age}}
                <option value="10">14</option>
                <option value="11">15</option>
                <option value="12">16</option>
                <option value="13">17</option>
                <option value="14">18</option>
                <option value="15">19</option>
                {{/select}}
            </select>
        </div>

        <div class="info-item flexrow">
            <label>{{localize "tftloop.favSong"}}</label>
            <input name="favoriteSong" type="text" value="{{system.favoriteSong}}" placeholder=""/>
        </div>
    </div>
    
    <div class="info-item even flexrow">
        <label>{{localize "tftloop.drive"}}</label>
        <input name="drive" type="text" value="{{system.drive}}" placeholder=""/>
    </div>

    <div class="info-item odd flexrow">
        <label>{{localize "tftloop.anchor"}}</label>
        <input name="anchor" type="text" value="{{system.anchor}}" placeholder=""/>
    </div>

    <div class="info-item even flexrow">
        <label>{{localize "tftloop.problem"}}</label>
        <input name="problem" type="text" value="{{system.problem}}" placeholder=""/>
    </div>

    <div class="info-item odd flexrow">
        <label>{{localize "tftflood.shame"}}: </label>
        <input name="shame" type="text" value="{{system.shame}}" placeholder=""/>
        <label class="imgCheck">
            {{#unless system.shameCheck}}
            <img class="toggle-boolean" data-toggle="shameCheck" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
            {{/unless}}

            {{#if system.shameCheck}}    
            <img class="toggle-boolean" data-toggle="shameCheck" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
            {{/if}}
        </label>
    </div>

    <div class="info-item even flexrow">
        <label>{{localize "tftloop.description"}}</label>
        <input name="description" type="text" value="{{system.description}}" placeholder=""/>
    </div>  
</div>
