<div class="core-info info-group">
    <div class="flexrow">
        <div class="info-item short">
            <label>{{localize "tftloop.age"}}</label>
            {{age}}

            <select name="age">
                {{#select system.age}}
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                {{/select}}
            </select>
        </div>

        <div class="special-item flexrow">
            <label class="use-luck">{{localize "tftloop.luck"}}
                {{#times data.system.curLuck}}
                <img src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
                {{/times}}

                {{#times data.system.luck.value}}
                <img src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
                {{/times}}
            </label>
            
            <div class="reset-luck">{{localize "tftloop.reset"}}</div>
        </div>
    </div>
    
    <div class="info-item even flexrow">
        <label>{{localize "tftloop.drive"}}</label>
        <input name="drive" type="text" value="{{data.system.drive}}" placeholder=""/>
    </div>

    <div class="info-item odd flexrow">
        <label>{{localize "tftloop.anchor"}}</label>
        <input name="anchor" type="text" value="{{data.system.anchor}}" placeholder=""/>
    </div>

    <div class="info-item even flexrow">
        <label>{{localize "tftloop.problem"}}</label>
        <input name="problem" type="text" value="{{data.system.problem}}" placeholder=""/>
    </div>

    <div class="info-item odd flexrow">
        <label>{{localize "tftloop.pride"}}</label>
        <input name="pride" type="text" value="{{data.system.pride}}" placeholder=""/>
        <label class="imgCheck">
            {{#unless data.system.prideCheck}}
            <img class="toggle-boolean" data-toggle="prideCheck" src="systems/tftloop/img/box_not_checked.png" height="18px" width="18px">
            {{/unless}}

            {{#if data.system.prideCheck}}
            <img class="toggle-boolean" data-toggle="prideCheck" src="systems/tftloop/img/box_checked.png" height="18px" width="18px">
            {{/if}}
        </label>
    </div>

    <div class="info-item even flexrow">
        <label>{{localize "tftloop.description"}}</label>
        <input name="description" type="text" value="{{data.system.description}}" placeholder=""/>
    </div>

    <div class="info-item odd flexrow">
        <label>{{localize "tftloop.favSong"}}</label>
        <input name="favoriteSong" type="text" value="{{data.system.favoriteSong}}" placeholder=""/>
    </div>
</div>
