<div class="relationships info-group">
    <div class="section-header flexrow">
    <h4  class="section-header">{{localize "tftloop.relationships"}}</h4>
    <div class = "item-control">
        <a class="item-control item-create" data-type="relationship" data-trait="relationship" title="{{localize "tftloop.newRelationship"}}" >
        <i class="fas fa-plus"></i>
        </a>
    </div>
    </div>
    <ol class="info-list">
        {{#each relationships as |relationship id|}}
        <li class="info-item flexrow item" data-item-id="{{relationship._id}}" draggable="true">
        <input class="relationship-name inline-edit" data-field="name" type="text" value="{{name}}"/>
        <input class="relationship-desc inline-edit" data-field="data.description" type="text" value="{{data.description}}"/>
        <div class="item-control">
        <a class="item-open">
        <i class="fas fa-edit"></i>
        </a>
        <a class="item-delete" data-type="relationship" data-trait="relationship" title="{{localize "tftloop.delete"}}" >
        <i class="fas fa-minus"></i>
        </a>
        </div>
        </li>
        {{/each}}
    </ol>
    <div class="friction flexrow">
         <label>{{localize "tftflood.friction"}}: </label>
        <input name="data.friction" type="text" value="{{data.data.friction}}" placeholder=""/>
    </div>
</div>